### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


#datapack
dxdiag.txt
log.txt

/model

/model/*.pt
.safetensors

cik.java

/net.artsnoa.com.rmd/
/net/artsnoa/com/rmd/

/translator/
/translator/*.zip
/translator/*.z01
/translator/sd_v15_onnx
/translator/sd_v15_onnx/SD_v15_onnx.zip

.zip

/data/